@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --text-50: #ebe9fc;
  --text-100: #d7d3f8;
  --text-200: #afa6f2;
  --text-300: #877aeb;
  --text-400: #5f4ee4;
  --text-500: #3721de;
  --text-600: #2c1bb1;
  --text-700: #211485;
  --text-800: #160d59;
  --text-900: #0b072c;
  --text-950: #060316;

  --background-50: #f0f0f5;
  --background-100: #e0e0eb;
  --background-200: #c2c2d6;
  --background-300: #a3a3c2;
  --background-400: #8585ad;
  --background-500: #666699;
  --background-600: #52527a;
  --background-700: #3d3d5c;
  --background-800: #29293d;
  --background-900: #14141f;
  --background-950: #0a0a0f;

  --primary-50: #e7f2fd;
  --primary-100: #cfe5fc;
  --primary-200: #a0ccf8;
  --primary-300: #70b2f5;
  --primary-400: #4099f2;
  --primary-500: #117fee;
  --primary-600: #0d66bf;
  --primary-700: #0a4c8f;
  --primary-800: #07335f;
  --primary-900: #031930;
  --primary-950: #020d18;

  --secondary-50: #eff5f6;
  --secondary-100: #deeaed;
  --secondary-200: #bdd5db;
  --secondary-300: #9cc1c9;
  --secondary-400: #7bacb7;
  --secondary-500: #5b97a4;
  --secondary-600: #487984;
  --secondary-700: #365b63;
  --secondary-800: #243c42;
  --secondary-900: #121e21;
  --secondary-950: #090f10;

  --accent-50: #fbe9ef;
  --accent-100: #f8d3df;
  --accent-200: #f0a8bf;
  --accent-300: #e97c9f;
  --accent-400: #e1517e;
  --accent-500: #da255e;
  --accent-600: #ae1e4b;
  --accent-700: #831639;
  --accent-800: #570f26;
  --accent-900: #2c0713;
  --accent-950: #160409;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.208 0.042 265.755);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.968 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --muted: oklch(0.968 0.007 247.896);
  --muted-foreground: oklch(0.554 0.046 257.417);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.984 0.003 247.858);
  --sidebar-foreground: oklch(0.129 0.042 264.695);
  --sidebar-primary: oklch(0.208 0.042 265.755);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.968 0.007 247.896);
  --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
  --sidebar-border: oklch(0.929 0.013 255.508);
  --sidebar-ring: oklch(0.704 0.04 256.788);
}

@theme inline {
  --color-txt-50: var(--text-50);
  --color-txt-100: var(--text-100);
  --color-txt-200: var(--text-200);
  --color-txt-300: var(--text-300);
  --color-txt-400: var(--text-400);
  --color-txt-500: var(--text-500);
  --color-txt-600: var(--text-600);
  --color-txt-700: var(--text-700);
  --color-txt-800: var(--text-800);
  --color-txt-900: var(--text-900);
  --color-txt-950: var(--text-950);

  --color-bg-50: var(--background-50);
  --color-bg-100: var(--background-100);
  --color-bg-200: var(--background-200);
  --color-bg-300: var(--background-300);
  --color-bg-400: var(--background-400);
  --color-bg-500: var(--background-500);
  --color-bg-600: var(--background-600);
  --color-bg-700: var(--background-700);
  --color-bg-800: var(--background-800);
  --color-bg-900: var(--background-900);
  --color-bg-950: var(--background-950);

  --color-pri-50: var(--primary-50);
  --color-pri-100: var(--primary-100);
  --color-pri-200: var(--primary-200);
  --color-pri-300: var(--primary-300);
  --color-pri-400: var(--primary-400);
  --color-pri-500: var(--primary-500);
  --color-pri-600: var(--primary-600);
  --color-pri-700: var(--primary-700);
  --color-pri-800: var(--primary-800);
  --color-pri-900: var(--primary-900);
  --color-pri-950: var(--primary-950);

  --color-sec-50: var(--secondary-50);
  --color-sec-100: var(--secondary-100);
  --color-sec-200: var(--secondary-200);
  --color-sec-300: var(--secondary-300);
  --color-sec-400: var(--secondary-400);
  --color-sec-500: var(--secondary-500);
  --color-sec-600: var(--secondary-600);
  --color-sec-700: var(--secondary-700);
  --color-sec-800: var(--secondary-800);
  --color-sec-900: var(--secondary-900);
  --color-sec-950: var(--secondary-950);

  --color-acc-50: var(--accent-50);
  --color-acc-100: var(--accent-100);
  --color-acc-200: var(--accent-200);
  --color-acc-300: var(--accent-300);
  --color-acc-400: var(--accent-400);
  --color-acc-500: var(--accent-500);
  --color-acc-600: var(--accent-600);
  --color-acc-700: var(--accent-700);
  --color-acc-800: var(--accent-800);
  --color-acc-900: var(--accent-900);
  --color-acc-950: var(--accent-950);
  --font-m: var(--font-montserrat);
  --font-ma: var(--font-montserrat-alt);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-50: #060316;
    --text-100: #0b072c;
    --text-200: #160d59;
    --text-300: #211485;
    --text-400: #2c1bb1;
    --text-500: #3721de;
    --text-600: #5f4ee4;
    --text-700: #877aeb;
    --text-800: #afa6f2;
    --text-900: #d7d3f8;
    --text-950: #ebe9fc;

    --background-50: #0a0a0f;
    --background-100: #14141f;
    --background-200: #29293d;
    --background-300: #3d3d5c;
    --background-400: #52527a;
    --background-500: #666699;
    --background-600: #8585ad;
    --background-700: #a3a3c2;
    --background-800: #c2c2d6;
    --background-900: #e0e0eb;
    --background-950: #f0f0f5;

    /* --primary-50: #020d18;
    --primary-100: #031930;
    --primary-200: #07335f;
    --primary-300: #0a4c8f;
    --primary-400: #0d66bf;
    --primary-500: #117fee;
    --primary-600: #4099f2;
    --primary-700: #70b2f5;
    --primary-800: #a0ccf8;
    --primary-900: #cfe5fc;
    --primary-950: #e7f2fd; */

    --secondary-50: #090f10;
    --secondary-100: #121e21;
    --secondary-200: #243c42;
    --secondary-300: #365b63;
    --secondary-400: #487984;
    --secondary-500: #5b97a4;
    --secondary-600: #7bacb7;
    --secondary-700: #9cc1c9;
    --secondary-800: #bdd5db;
    --secondary-900: #deeaed;
    --secondary-950: #eff5f6;

    --accent-50: #160409;
    --accent-100: #2c0713;
    --accent-200: #570f26;
    --accent-300: #831639;
    --accent-400: #ae1e4b;
    --accent-500: #da255e;
    --accent-600: #e1517e;
    --accent-700: #e97c9f;
    --accent-800: #f0a8bf;
    --accent-900: #f8d3df;
    --accent-950: #fbe9ef;
  }
}

body {
  font-family: var(--montserrat), system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
